.card-container {
    padding-top: 10px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between; /* Add some space between tiles */
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.link {
    color: #337ab7;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.link:hover {
    background-color: #ddd;
}

.card-tile {
    width: calc(50% - 10px); /* Make each tile take up half of the container minus a little padding */
    background-color: #f7f7f7; /* Some default styling for the tiles */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course-tile:nth-child(1) {
    margin-right: 20px; /* Add some space between the tiles */
}