.card-container {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between; /* Add some space between tiles */
}

.links {
    display: flex;
    justify-content: left;
    margin-top: 1em;
}

.links a:nth-child(2){
    margin-left: 20px; /* Add some space between the tiles */
}

.card-tile {
    width: calc(50% - 10px); /* Make each tile take up half of the container minus a little padding */
    background-color: #f7f7f7; /* Some default styling for the tiles */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course-tile:nth-child(1) {
    margin-right: 30px; /* Add some space between the tiles */
}