
<div class = 'test'>
Print courses
    {{#courses}}
        <div class="card">
            <h2>{{fullname}}</h2>
            <div class="links">
                <a href="#" class="link">Assignments</a>
                <a href="#" class="link">Grades</a>
            </div>
        </div>
    {{/courses}}
</div>