
<div class = 'card-container'>
    {{#.}}
        <div class="card-tile">
            <h2>{{fullname}}</h2>
                <div class="links">
                    <a href="" data-id= "{{id}}" data-name= "{{fullname}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Grades</a>
                    <a href="" data-id= "{{id}}" data-name= "{{fullname}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Assignments</a>
                </div>
        </div>
    {{/.}}
</div>