<div class="row">
    <div class="col">
        <h3>{{#str}}my_list_of_students, local_earlyalert{{/str}} - {{#str}}alerts_raised, local_earlyalert{{/str}}</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        {{#str}}course_overview_render_instructions, local_earlyalert{{/str}}
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header bg-white">
                <h5>{{#str}}course, core{{/str}}: {{course_name}}</h5>
            </div>
            <div class="card-body">
                <div class="accordion" id="accordionCourseOverview">
                    {{#students}}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{id}}">
                                <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse{{id}}"
                                        aria-expanded="false" aria-controls="collapse{{id}}">
                                    {{lastname}}, {{firstname}} ({{idnumber}})
                                </button>
                            </h2>
                            <div id="collapse{{id}}" class="accordion-collapse collapse"
                                 aria-labelledby="heading{{id}}" data-bs-parent="#accordionCourseOverview">
                                <div class="accordion-body py-2">
                                    {{#logs}}
                                        <div class="row early-alert-alert-row {{#is_commendation}}early-alert-commendation-row{{/is_commendation}}">
                                            <div class="col-md-6">
                                                {{#is_commendation}}{{message_type}} - {{date_sent}} <i class="fa fa-champagne-glasses fa-lg text-white ms-2"></i>{{/is_commendation}}{{^is_commendation}}{{message_type}} - {{date_sent}}{{/is_commendation}}
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-sm btn-early-alert-preview-message {{#is_commendation}}btn-outline-success{{/is_commendation}}{{^is_commendation}}btn-primary{{/is_commendation}}" data-logid="{{id}}">
                                                    {{#str}}view_message, local_earlyalert{{/str}}
                                                </button>
                                            </div>
                                            <div class="col-md-4 d-flex justify-content-end">
                                                <table class="table table-borderless table-sm {{#is_commendation}}invisible{{/is_commendation}}" {{#is_commendation}}aria-hidden="true"{{/is_commendation}}>
                                                    <thead class="table-light">
                                                    <tr>
                                                        <th>
                                                            <div class="d-flex justify-content-center">
                                                                Instructor/TA
                                                            </div>
                                                        </th>
                                                        <th>
                                                            <div class="d-flex justify-content-center">
                                                                Advisor
                                                            </div>
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                <input type="checkbox" class="checkbox-instructor-followup"
                                                                       data-logid="{{id}}"
                                                                       tabindex="{{#is_commendation}}-1{{/is_commendation}}{{^is_commendation}}0{{/is_commendation}}"
                                                                       {{#student_advised_by_instructor}}checked{{/student_advised_by_instructor}}
                                                                       {{#is_commendation}}disabled{{/is_commendation}}>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                <input type="checkbox" class="checkbox-advisor-followup"
                                                                       data-logid="{{id}}"
                                                                       tabindex="{{#is_commendation}}-1{{/is_commendation}}{{^is_commendation}}0{{/is_commendation}}"
                                                                       {{#student_advised_by_advisor}}checked{{/student_advised_by_advisor}}
                                                                       disabled>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    {{/logs}}
                                </div>
                            </div>
                        </div>
                    {{/students}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add AMD js to call course_overview_updating.js -->
{{#js}}
    require(['local_earlyalert/course_overview_updating'], function (course_overview_updating) {
        course_overview_updating.init();
    });
{{/js}}