<div class="modal-body">
    <div class="email-header">
        <h4>Subject: {{{ subject }}}</h4>
    </div>
    <div class="email-content">
        <p>{{{ message }}} </p>
    </div>

    <div class="email-footer">
        <p>Sincerely, <br>Your Academic advisors</p>
        <p>{{ instructor_name }}</p>
    </div>
</div>