<div class="modal-body">
    <div class="email-header">
        <h3>{{ subject }}</h3>
    </div>
    <div class="email-content">
        <p>Dear {{ student_name }}</p>
        <p>{{{ message }}} </p>
    </div>

    <div class="email-footer">
        <p>Best regards,</p>
        <p>{{ instructor_name }}</p>
    </div>
</div>