<style>
    .dashboard-iframe {
        width: 100%;
        height: 100vh;
        border: none;
        margin: 0;
        padding: 0;
    }
</style>



<iframe
        class="dashboard-iframe mb4"
        src="{{config.wwwroot}}/local/earlyalert/react/dashboard/build/index.html?report_type={{report_type}}"
frameborder="0"
allowfullscreen>
Your browser does not support iframes.
</iframe>

