<div class="row">
    <div class="col-md-12">
        {{#str}}student_lookup_instructions, local_earlyalert{{/str}}
    </div>
</div>
<div class="accordion" id="accordionStudentCourses">
    {{#courses}}
        <div class="card">
            <div class="card-header {{#has_alerts}}bg-danger text-white{{/has_alerts}}" id="heading{{id}}">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left {{#has_alerts}}text-white{{/has_alerts}}" type="button" data-toggle="collapse" data-target="#collapse{{id}}" aria-expanded="false"
                            aria-controls="collapse{{id}}">
                        {{fullname}} ({{idnumber}})
                    </button>
                </h2>
            </div>

            <div id="collapse{{id}}" class="collapse" aria-labelledby="heading{{id}}" data-parent="#accordionStudentCourses">
                <div class="card-body">
                    {{#alerts}}
                        <div class="row">
                            <div class="col-md-6">
                                {{message_type}} {{date_sent}}
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary btn-sm btn-early-alert-preview-message" data-logid="{{id}}">
                                    {{#str}}view_message, local_earlyalert{{/str}}
                                </button>
                            </div>
                            <div class="col-md-4 d-flex justify-content-end">
                                <table class="table table-borderless table-sm">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>
                                            <div class="d-flex justify-content-center">
                                                Instructor/TA
                                            </div>

                                        </th>
                                        <th>
                                            <div class="d-flex justify-content-center">
                                                Advisor
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <input type="checkbox" disabled class="checkbox-instructor-followup"
                                                       data-logid="{{id}}"
                                                       {{#student_advised_by_instructor}}checked{{/student_advised_by_instructor}}>
                                            </div>

                                        </td>
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <input type="checkbox" class="checkbox-advisor-followup"
                                                       data-logid="{{id}}"
                                                       {{#student_advised_by_advisor}}checked{{/student_advised_by_advisor}}>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    {{/alerts}}
                </div>
            </div>
        </div>
    {{/courses}}
</div>

<!-- Add AMD js to call course_overview_updating.js -->
{{#js}}
    require(['local_earlyalert/course_overview_updating'], function (course_overview_updating) {
    course_overview_updating.init();
    });
{{/js}}