<div class="row">
    {{#student_lookup}}
        <div class="col-md-2">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <i class="fa fa-search fa-4x text-danger"></i>
                </div>
                <a href="{{config.wwwroot}}/local/earlyalert/student_lookup.php"
                   class="text-white text-uppercase"
                   title="{{#str}}student_lookup, local_earlyalert{{/str}}">
                    <div class="footer d-flex justify-content-center align-items-center bg-danger text-white text-uppercase pt-3 pb-3">
                        {{#str}}student_lookup, local_earlyalert{{/str}}
                    </div>
                </a>
            </div>
        </div>
    {{/student_lookup}}
    {{#impersonate}}
        <div class="col-md-2">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <i class="fa fa-exclamation-triangle fa-4x text-danger"></i>
                </div>
                <a href="{{config.wwwroot}}/local/earlyalert/dashboard.php"
                   class="text-white text-uppercase"
                   title="{{#str}}student_lookup, local_earlyalert{{/str}}">
                    <div class="footer d-flex justify-content-center align-items-center bg-danger text-white text-uppercase pt-3 pb-3">
                        {{#str}}raise_an_alert, local_earlyalert{{/str}}
                    </div>
                </a>
            </div>
        </div>
    {{/impersonate}}
    {{#etemplates}}
        <div class="col-md-2">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <i class="fa fa-folder-open fa-4x text-danger"></i>
                </div>
                <a href="{{config.wwwroot}}/local/etemplate/email_templates.php"
                   class="text-white text-uppercase"
                   title="{{#str}}student_lookup, local_earlyalert{{/str}}">
                    <div class="footer d-flex justify-content-center align-items-center bg-danger text-white text-uppercase pt-3 pb-3">
                        {{#str}}manage_templates, local_earlyalert{{/str}}
                    </div>
                </a>
            </div>
        </div>
    {{/etemplates}}
    {{#roles}}
        <div class="col-md-2">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <i class="fa fa-id-card fa-4x text-danger"></i>
                </div>
                <a href="{{config.wwwroot}}/local/organization/campuses.php"
                   class="text-white text-uppercase"
                   title="{{#str}}student_lookup, local_earlyalert{{/str}}">
                    <div class="footer d-flex justify-content-center align-items-center bg-danger text-white text-uppercase pt-3 pb-3">
                        {{#str}}manage_roles, local_earlyalert{{/str}}
                    </div>
                </a>
            </div>
        </div>
    {{/roles}}
    {{#admin_report}}
        <div class="col-md-2">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <i class="fa fa-area-chart fa-4x text-danger"></i>
                </div>
                <a href="{{config.wwwroot}}/local/earlyalert/report_admin_dashboard.php"
                   class="text-white text-uppercase"
                   title="{{#str}}student_lookup, local_earlyalert{{/str}}">
                    <div class="footer d-flex justify-content-center align-items-center bg-danger text-white text-uppercase pt-3 pb-3">
                        {{#str}}administrative_report, local_earlyalert{{/str}}
                    </div>
                </a>
            </div>
        </div>
    {{/admin_report}}
    {{#advisor_report}}
        <div class="col-md-2">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <i class="fa fa-pie-chart fa-4x text-danger"></i>
                </div>
                <a href="{{config.wwwroot}}/local/earlyalert/report_advisor_dashboard.php"
                   class="text-white text-uppercase"
                   title="{{#str}}student_lookup, local_earlyalert{{/str}}">
                    <div class="footer d-flex justify-content-center align-items-center bg-danger text-white text-uppercase pt-3 pb-3">
                        {{#str}}advisor_report, local_earlyalert{{/str}}
                    </div>
                </a>
            </div>
        </div>
    {{/advisor_report}}
</div>
